<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.saxion.kuiperklaczynski.tweethack">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/codename_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".gui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gui.UserActivity"
            android:label="@string/title_activity_user"
            android:parentActivityName=".gui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.saxion.kuiperklaczynski.tweethack.gui.MainActivity" />
        </activity>
        <activity
            android:name=".gui.TweetDetailActivity"
            android:label="@string/title_activity_tweet_detail"
            android:parentActivityName=".gui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".gui.AuthActivity" />
        <activity
            android:name=".gui.NewTweetActivity"
            android:label="@string/title_activity_new_tweet"
            android:parentActivityName=".gui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".gui.SettingsActivity"
            android:label="@string/settings_activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.saxion.kuiperklaczynski.tweethack.gui.MainActivity" />
        </activity>
    </application>

</manifest>